<h1>Station: <%= @station.name %></h1>

<ul>
  <li>Dock Count: <%= @station.dock_count %></li>
  <li>City: <%= @station.city %></li>
  <li>Installation Date: <%= @station.installation_date %></li>
</ul>
