<h1>Woohoo I'm User Dashboard!</h1>
</br>
<%= button_to "Edit Account", edit_user_path(@user)%>
</br>
<% if @orders.count > 0 %>
  <%= "Orders" %>
  <ul>
    <% @orders.each do |order| %>
      <li><%= link_to "#{order.id}", order_path(order) %></li>
    <% end %>
  </ul>
<% end %>
