<h1>Welcome to Bike Share!</h1>
<br>
<div class='welcome-card-holder'>
  <div class='welcome-card'>
    <img src="https://bossonnet-proshop.com/wp-content/uploads/Logo-Bossonnet-Pro-Shop-La-Clusaz-01-rond-slt200.png" />
    </br>
    <%= link_to "Check Out Our Bike Shop!", bike_shop_path %>
  </div>
  <div class='welcome-card'>
    <img src="https://static.thenounproject.com/png/823-200.png" />
    </br>
    <%= link_to "Login/Create Account", login_path %>
  </div>
</div>
