<h1>Cart</h1>
<% @accessories.each do |accessory, count| %>
  <ul>
    <li>
      <%= accessory.title %>
    </li>
    <li>
      <%= accessory.price %>
    </li>
    <li>
      Qty: <%= count %>
    </li>
  </ul>
  <% end %>
